body {
  background-color: linen;
}


.jumbotron {
  background-color: honeydew;
  box-shadow: 4px 4px 3px #88aa88;
}

.jumbotron h1 {
  font-size: 8rem;
  font-family: 'Bungee Shade', cursive;
  text-align: center;
}

#user-number-form button {
  margin-top: 50px;
}


.section {
  margin: 5px 5px 20px 5px;
}


#show-results {
  display: none;
  border: 3px solid grey;
}

#show-results ul li{
  list-style-position: inside;
  list-style-type:  circle;
  font-size: 1.7rem;
}


#show-results ul li:nth-child(odd){
  background-color: white;
}


#forty-two {
  color: red;
  font-family: fantasy;
  text-decoration: none;
  font-weight: bold;
}

#forty-two:hover {
  color: purple;
  font-size: 3rem;
  transition-duration: 2s;
}

.fifteen {
  font-weight: bolder;
  color: deeppink;
}

.five {
  font-weight: bold;
  color: peachpuff;
}

.three {
  font-weight: bold;
  color: lightseagreen;
}

#show-results {
  margin-bottom: 110px;
}

#show-results ul li {
  margin: 5px 0;
}


footer {
  background-color: steelblue;
  border-top: 2px solid darkgrey;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}


@media only screen
  and (orientation:landscape)
  and (max-device-width: 1024px){

  footer {
    padding: 0;
    opacity: 0.6;
  }

  #show-results {
    margin-bottom: 60px;
  }

}
